<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>REST API</title>
  </head>
  <body>
    <p>{{title}}</p>
    <hr />
    <ul>
      {%for key in data%}
      <li><a href='/artists/{{artist}}/albums/{{key.album_name}}'>{{key.album_name}}</a></li>
      {%endfor%}
    </ul>
    <a href='/artists/{{artist}}'>Go to artist</a>
  </body>
</html>
